.vs/slnx.sqlite
.vs/entelect-company-cup.slnx/FileContentIndex/9dfb75f9-a5ec-4ae2-be9b-8fe3326ec077.vsidx
.vs/entelect-company-cup.slnx/FileContentIndex/331e78d1-aeb0-4ecc-a142-e57eaedd1f2e.vsidx
.vs/entelect-company-cup.slnx/FileContentIndex/02788b4b-f862-42ac-83cd-6b31a828a39f.vsidx
.vs/entelect-company-cup.slnx/FileContentIndex/e1f3a263-0896-4461-a1bc-4b688d41dc2b.vsidx
.vs/entelect-company-cup.slnx/FileContentIndex/e8e81aaf-71db-4a7b-8e0d-22a500c8fbfc.vsidx
.vs/entelect-company-cup.slnx/FileContentIndex/c8e7cb8f-8596-4dac-b348-edaafcd3c84c.vsidx
.vs/entelect-company-cup.slnx/FileContentIndex/*.vsidx
The Neural Pitwall/bin/*
The Neural Pitwall/obj/*
The Neural Pitwall/obj/Debug/net10.0/The Neural Pitwall.AssemblyInfoInputs.cache
